<!DOCTYPE html>
<html ng-app="viSys" ng-controller="jobController">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="styles/bootstrap.min.css">
<link rel="stylesheet" href="styles/bootstrap-combined.min.css">

<style type="text/css">
    body{
	    	padding-top: 30px;
	    	padding-left: 50px;
	    	padding-right: 50px;
    	}
</style>
</head>	
<body>

<button class ="btn" ng-click="getRepo()">Load Github Repos</button>
</br>
</br>
</br>

<div>	
	<input type="text" ng-model="search" ng-change="filter()" placeholder="Search Git Hub Repository"/>
</div>

<section >
	<table class="table table-striped">
	<thead>
		<th>Repository Id</th>
		<th>Name</th>
		<th>Full Name</th>
		<th>Owner Name</th>
		<th>Avatar</th>
		<th>Url</th>		
	</thead>
	<tr ng-repeat="repo in filtered = (repositories | filter:search) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
		<td>{{repo.id}}</td>
		<td>{{repo.name}}</td>
		<td>{{repo.full_name}}</td>
		<td>{{repo.owner.login}}</td>
		<td><img ng-src="{{repo.owner.avatar_url}}" height="50" width="50" /></td>
  		<td>
			<a href="{{repo.owner.html_url}}/{{repo.name}}" target="_blank" class="btn btn-success btn-lg">Go to {{repo.owner.url}} / {{repo.name}}
			</a>
  		</td>
	</tr>
</table>
</section>

<pagination data-boundary-links="true" data-num-pages="noOfPages" data-current-page="currentPage" max-size="maxSize" 	class="pagination-small" data-previous-text="&laquo;" data-next-text="&raquo;"></pagination>


<script type="text/javascript" src="angular-1.3.0-beta.17\angular.min.js" ></script>
<script type="text/javascript" src="angular-1.3.0-beta.17\ui-bootstrap-0.9.0.min.js" ></script>
<script type="text/javascript" src="angular-1.3.0-beta.17\ui-bootstrap-tpls-0.2.0.js" ></script>
<script src="myscripts\Json_Angular.js" ></script>

</body>
</html> 